name: Trigger Website Update

on:
  workflow_dispatch:
  push:
    branches: [main]
    paths-ignore:
      - ".github/**"
      - "README.md"

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
    - name: Trigger Website Update
      run: |
        curl -X POST -H "Authorization: token ${{ secrets.PAT_GITHUB }}" \
        -H "Accept: application/vnd.github.v3+json" \
        https://api.github.com/repos/tibrag/website/dispatches \
        -d '{"event_type": "cloudflare-pages"}'
